.profileContainer{
    display: flex;
    align-items: center;
}

.profileContainer > img{
    width: 5.5rem;
    height: 5.5rem;
    border-radius: 50%;
}

.profileContainer div{
    margin-left: 1.5rem;

}
.profileContainer div strong{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title);
    display: flex;
    align-items: center;
    justify-content: center;
}
.profileContainer div button{
    background: none;
    border: none;
    width: 1.5rem;
    height: 1.5rem;
    align-self: center;
    margin-left: 1rem;
}
.profileContainer div button img{
    height: 100%;
    width: 100%;
}
.profileContainer div p{
    font-size: 1rem;
    margin-top: 0.5rem;
}
.profileContainer div p img{
    margin-right: 0.5rem;
}